nav {
  background: rgba(255, 255, 255, 0.1);
  height: 120px;

  a {
    font-family: "Oswald", sans-serif;
    font-size: 22px;
    color: rgb(17, 96, 185) !important;
    padding: 0px 20px !important;

    &:hover {
      opacity: 50%;
      font-size: 23 px;
    }
  }

  .dropdown-item {
    margin: 15px 0px;
  }
}

#home-section {
  font-family: "Oxygen", sans-serif;
  background: url("../img/pic3.jpg");
  background-position: 0px -200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 455px;

  .dark-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 455px;
    background-color: rgba(0, 0, 0, 0.25);
  }

  h1 {
    color: #f7f9fc;
  }

  .row {
    margin-top: 120px;
  }

  .col {
    margin-top: 10%;
  }
}

.btn-contact {
  background-color: rgb(17, 96, 185);
  font-size: 22px;
  margin-top: 2em;
  width: 30%;
  height: 65px;

  &:hover {
    opacity: 50%;
    color: white;
  }
}
